<h1>Please sign up</h1>
 
<%=form_with model: @user, local: true do |f| %>
<% if @user.errors.any? %> 
  <p>
    <%= @user.errors.full_messages.join(', ') %>
  </p>
<%end %>
 
 
<div>
    <%= f.label      :first_name %>
    <%= f.text_field :first_name %>
</div>
<div>
   <%= f.label      :last_name %>
   <%= f.text_field :last_name %>
</div>
<div>
   <%= f.label       :email %>
   <%= f.email_field :email %>
</div>
<div>
    <%= f.label         :contact_number %>
    <%= telephone_field :user, :contact_number %>
 </div>
<div>
    <%= radio_button_tag(:is_manager, "manager") %>
    <%= label_tag(:is_manager, "Manager") %>
    <%= radio_button_tag(:is_teacher, "teacher") %>
    <%= label_tag(:is_teacher, "Teacher") %>
    <%= radio_button_tag(:is_student, "student") %>
    <%= label_tag(:is_student, "Student") %>
</div>
<div>
   <%= f.label          :password %>
   <%= f.password_field :password %>
</div>
<div>
   <%= f.label          :password_confirmation %>
   <%= f.password_field :password_confirmation %>
</div>

 
<%= f.submit "Sign Up" %>
 
<% end %>