
<div class="alert alert-primary" role="alert">

<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h1><%= @facility.name %></h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p>Description: <%= @facility.description %></p></li>
    <li class="list-group-item"><p>Address: <%= @facility.address %>  </p></li>
    <li class="list-group-item"><p>City:  <%= @facility.city %>  </p></li>
    <li class="list-group-item"><p>Contact:  <%= @facility.contact_number %>  </p></li>
  </ul>
</div>

  
</div>





  <% if @facility.parking? %>  
    <p>Parking: Yes</p>
  <% else %>
    <p>Parking: No</p>
  <% end%>

<% if can? :crud, @facility %>
  <button type="button" class="btn btn-danger">  <%= link_to 'Delete', facility_path(@facility), method: :delete, data: { confirm: 'Are you sure that you want to delete this facility?' } %>
  </button>  
        
  <button type="button" class="btn btn-success"> <%= link_to "Edit", edit_facility_path(@facility) %> </button>

  <button type="button" class="btn btn-primary"><%= link_to "Create a Room", new_facility_room_path(@facility) %></button> 
<% end %>

<h2>Filter Rooms by Feature:</h2>

<%= form_for "", url: @facility, role: "search", method: :get do %>
    <p>
        <%= text_field_tag :search, @search_term, placeholder: "Search..." %>
        <%= submit_tag "Search", :one_hour_rental_price => nil %>
    </p>
<% end %>



<h1>Rooms</h1>
 <% @rooms.each do |room|  %>
  <ul>
    <li><%= link_to "#{room.name}", room_path(room) %></li>
  </ul>
<% end %>