  <div class="box">
 <section>
  <%= form_with(model: @course, local: true) do |form| %>
    <div>
      <% if @course.errors.present? %>
        <%= @course.errors.full_messages.join(', ') %>
      <% end %>
    </div>
    <div>
      
      <%= form.text_field :title, value: @course.title , placeholder: "title" %>
    </div>
    <div>
      
      <%= form.text_area :description, cols: 50, rows: 5, value: @course.description, placeholder: "description"  %>
    </div>
    <div>

      <%= form.text_field :status, value: @course.status , placeholder: "status" %>
    </div>
    <div>

      <%= form.text_field :tuition, value: @course.tuition, placeholder: "tuition" %>
    </div>
    <div>
     
      <%= form.text_field :capacity, value: @course.capacity, placeholder: "capacity" %>
    </div>    
    <div>
      <%= form.text_field :image_url, value: @course.image_url, placeholder: "image_url" %>
    </div>    
    <%= form.submit %>
  <% end %>

  </section>
</div>