
<h1>Course</h1>
<h3><%= @course.title %></h3>
<p><%= @course.description %></p>
<p>Status: <%= @course.status %></p>
<p>Tuition: <%= @course.tuition %></p>
<p>Capacity: <%= @course.capacity %></p>
<small>
  <p line-height="normal">
    Posted <%= time_ago_in_words(@course.created_at) %> ago<br>
  </p>
</small>
<% if can? :edit, @course %>
  <%= link_to 'Edit', edit_course_path(@course.id)%>
<% end %>
<% if can? :destroy, @course %>
  <%= link_to("Delete", course_path(@course), method: :delete, data:{confirm:'Delete Course?' }) %>
<% end %>
<% if current_user.is_student %>
  <% if current_user.enrolled_courses&.include?(@course) && current_user.enrollments.where(course_id: @course.id).where(status: "Enrolled").count > 0 %>
    <%= link_to("Drop", drop_course_path(@course), method: :post, data:{confirm:'Drop Course Enrollment?' }) %>
  <% else %>
    <%= link_to("Enroll", enroll_course_path(@course), method: :post, data:{confirm:'Enroll Course?' }) %>
  <% end %>
<% end %>